html {
    text-align: center;
    background: beige;
    color: black;
    /*font-family: ;*/
}

img {
    /* opacity: 0; */
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 100%;
    /* background: blue; */
    margin: 0;
    padding: 0;
}

.yesButton {
    color: red;
    display: flex;
    /* background-image: url(/images/heartBackground.jpg); */
    height: 80px;
    width: 190px;
    background: pink;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.noButton{
    color: white;
    display: flex;
    height: 80px;
    width: 190px;
    background: rgb(37, 36, 36);
    align-items: center;
    justify-content: center;
    background-image: url(/images/HD-wallpaper-red-angry-face-off-angry-face-pissed-red.jpg);
    border-radius: 20px;
}